
.c-segment-container__default {
  @include g-flex-container__col;
  padding: 2rem;
  text-align: center;
  width: 80vw;
  min-height: 100px;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 3px;
  @media(min-width: $m-min-width-md) {
    width: 40vw;
  }
}