

$m-min-width__sm: 320px;
$m-min-width__md: 768px;
$m-min-width__lg: 1024px;


 /*------------------------------------*\
     #COLORS
 \*------------------------------------*/
 
/**
 * Brand Colors
 * 1) Brand=specific colors
 */
$color-brand-blue: #0000ff;

/**
 * Neutral Colors
 * 1) Neutral colors are grayscale values used throughout the UI
 */
$color-white: #fff;
$color-gray__0: #f9f9f9;
$color-gray__1: #eee;
$color-gray__2: #808080;
$color-gray__3: #131313;
$color-black: #000;

/**
 * Utility Colors
 * 1) Utility colors are colors used to provide feedback, such as alert messages,
 *    form validation, etc.
 */
$color-utility-info: #0192d0;
$color-utility-info-light: #d3f2ff;
$color-utility-error: #b12a0b;
$color-utility-error-light: #fdded8;
$color-utility-success: #03804d;
$color-utility-success-light: #d4f3e6;
$color-utility-warning: #a59b15;
$color-utility-warning-light: #fffecf;


/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Font Family
 */
$ff-font__primary: 'IBM Plex Mono', monospace;;
$ff-font__secondary: serif;

/**
 * Font Sizing
 */
$ff-size__sm: 0.75rem;
$ff-size__md: 1.25rem;
$ff-size__lg: 2rem;
$ff-size__xl: 3rem;

/**
 * Line Height
 */
$line-height: 1.5;

$ff-size-h1: 48px !default;
$ff-size-h2: 36px !default;
$ff-size-h3: 27px !default;
$ff-size-h4: 19px !default;



/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Max Width
 */
$layout-max-width: 100vw !default;
$layout-linelength-width: 36rem !default;


/*------------------------------------*\
    #BORDERS
\*------------------------------------*/

/**
 * Border
 */
$border-thickness: 1px;

/**
 * Border radius
 */
$border-radius: 4px;


/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/

/**
 * Transition Speed
 */
$anim-fade-quick: 0.15s;
$anim-fade-long: 0.4s;

/**
 * Transition Ease
 */
$anim-ease: ease-out;

