$m-min-width-sm: 320px;
$m-min-width-md: 768px;
$m-min-width-lg: 1024px;

$g-color-white: #fff;
$g-color-gray: #f9f9f9;
$g-color-darkgray: rgb(80, 80, 80);
$g-color-black: #000;

$g-color-info: #d3f2ff;
$g-color-error: #fdded8;
$g-color-success: #d4f3e6;
$g-color-warning: #fffecf;

$g-font-primary: 'IBM Plex Mono', monospace;
$g-font-secondary: serif;

$g-size-sm: 0.75rem;
$g-size-md: 1.25rem;
$g-size-lg: 2rem;
$g-size-xl: 3rem;

$line-height: 1.5;

$g-size-h1: 48px !default;
$g-size-h2: 36px !default;
$g-size-h3: 27px !default;
$g-size-h4: 19px !default;

$layout-min-height: 100vh !default;
$layout-max-width: 100vw !default;
$layout-linelength-width: 36rem !default;


