.c-hero-container__lg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column no-wrap;
  justify-content: center;
  z-index: 1;
  p {
    color: white;
    z-index: 1;
  }
}

.c-hero-bg__lg {
  position: absolute;
  top: 3rem;
  z-index: 0;
}

#my-hero_svg__my-hero-human {
  position: absolute;
  animation: popup 10s ease;
}

#my-hero_svg__my-hero-alien {
  position: absolute;
  animation: popup 5s linear;
}

@keyframes popup {
  0% {
    transform: translateX(-40vw);
  }
  50% {
    transform: translateX(60vw);
  }
  100% {
    transform: translateX(150vw);
  }
}